<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:theme="@style/Theme.Q2RTX">

        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Q2RTXActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:exported="false"
            android:launchMode="singleInstance"
            android:preferMinimalPostProcessing="true"
            android:screenOrientation="landscape">
            <meta-data
                android:name="SDL_ENV.SDL_ANDROID_TRAP_BACK_BUTTON"
                android:value="1" />
        </activity>

    </application>

</manifest>
